# -------------------------------
# Hyperledger Fabric artifacts
# -------------------------------

# Channel artifacts
channel-artifacts/
system-genesis-block/

# Ledgers
ledgers/
ledgers-backup/

# Chaincode packages
*.tar.gz

# -------------------------------
# Crypto & MSP (NEVER COMMIT)
# -------------------------------

organizations/
**/crypto-config/**
**/fabric-ca/**

# Explicit CA keystores (belt + suspenders)
**/keystore/*
**/*_sk

# -------------------------------
# CouchDB / runtime data
# -------------------------------
**/couchdb*
**/wallet*

# -------------------------------
# Logs
# -------------------------------
*.log
log.txt
